############################
# Java / Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear

############################
# Logs
############################
*.log
logs/
*.out

############################
# Spring Boot
############################
spring.log

############################
# JaCoCo / Coverage
############################
jacoco.exec
jacoco-report/
target/site/jacoco/

############################
# SpotBugs / Reports
############################
spotbugsXml.xml
spotbugs.html
target/spotbugs*
dependency-check-report.*
dependency-check-data/

############################
# IDE - IntelliJ
############################
.idea/
*.iml
*.iws
out/

############################
# IDE - Eclipse
############################
.project
.classpath
.settings/
bin/

############################
# IDE - VSCode
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Temp / Misc
############################
*.tmp
*.swp
*~
.mtj.tmp/

############################
# JVM Crash Logs
############################
hs_err_pid*
replay_pid*

############################
# Archives
############################
*.zip
*.tar.gz
*.rar

############################
# Docker (si usas)
############################
*.pid
*.seed
*.pid.lock
**/target/